In [2]:
import os
import pandas as pd
import numpy as np
os.chdir('C:\\Users\\pcsea\\work1\\Self_study\\Company_news_PJ\\fdata\\scoredf')
sc_data = pd.read_csv('scoredf_종합.csv', encoding='cp949')
sc_data

     codeno  logistic_acc  randomFore_acc
0        70      0.750000        0.583333
1        80      0.476190        0.380952
2       150      0.574879        0.473430
3       270      0.517647        0.517647
4       660      0.538760        0.565891
..      ...           ...             ...
125  207940      0.608696        0.608696
126  214320      0.347826        0.391304
127  271560      0.406250        0.492188
128  282330      0.523810        0.500000
129  285130      0.531915        0.468085

[130 rows x 3 columns]

In [9]:
os.chdir('C:\\Users\\pcsea\\work1\\Self_study\\Company_news_PJ\\KOSPI200_NEWS')  # 여기 corplist200_m.csv이 있는 폴더
corplist200 = pd.read_csv('corplist200_m.csv', encoding='cp949')
# corplist2001 = []
# for i in range(len(corplist200)):
#     target = corplist200['code'][i]
#     corplist2001.append('{0:06d}'.format(target))
# corplist200['code'] = corplist2001
# os.chdir('C:\\Users\\pcsea\\work1\\Self_study\\Company_news_PJ\\KOSPI200_NEWS')  # 여기 corplist200_m.csv이 있는 폴더
# corplist200 = pd.read_csv('corplist200_m.csv', encoding='cp949')
corplist200 = corplist200.drop(corplist200.index[123]).reset_index(drop=True)
corplist200 = corplist200.drop(corplist200.index[40]).reset_index(drop=True)

In [10]:
# os.chdir('C:\\Users\\pcsea\\work1\\Self_study\\Company_news_PJ\\KOSPI200_NEWS')  # 여기 corplist200_m.csv이 있는 폴더
score_com = pd.merge(corplist200, sc_data, left_on='code', right_on='codeno', how='left')
score_com

      company    code    codeno  logistic_acc  randomFore_acc
0        삼성전자    5930    5930.0      0.588547        0.563097
1      SK하이닉스     660     660.0      0.538760        0.565891
2        LG화학   51910   51910.0      0.559406        0.509901
3         현대차    5380    5380.0      0.543779        0.521889
4    삼성바이오로직스  207940  207940.0      0.608696        0.608696
..        ...     ...       ...           ...             ...
133      일양약품    7570    7570.0      0.428571        0.571429
134    JW중외제약    1060    1060.0      0.636364        0.454545
135     SPC삼립    5610    5610.0      0.375000        0.375000
136       삼양사  145990  145990.0      0.636364        0.409091
137       빙그레    5180    5180.0      0.560000        0.440000

[138 rows x 5 columns]

In [15]:
score_com[:30]

     company    code    codeno  logistic_acc  randomFore_acc
0       삼성전자    5930    5930.0      0.588547        0.563097
1     SK하이닉스     660     660.0      0.538760        0.565891
2       LG화학   51910   51910.0      0.559406        0.509901
3        현대차    5380    5380.0      0.543779        0.521889
4   삼성바이오로직스  207940  207940.0      0.608696        0.608696
5        카카오   35720   35720.0      0.529793        0.476684
6      삼성SDI    6400    6400.0      0.367925        0.518868
7        기아차     270     270.0      0.517647        0.517647
8      POSCO    5490    5490.0      0.450943        0.511321
9      현대모비스   12330   12330.0      0.564103        0.512821
10      LG전자   66570   66570.0      0.571038        0.581967
11    LG생활건강   51900   51900.0      0.510204        0.653061
12      삼성물산   28260   28260.0      0.574713        0.517241
13      KB금융  105560  105560.0      0.570248        0.628099
14     SK텔레콤   17670   17670.0      0.656250        0.656250
15     엔씨소프트   36570   36570.0      0.559633        0.477064
16   SK이노베이션   96770   96770.0      0.444444        0.484848
17      신한지주   55550   55550.0      0.560000        0.560000
18      삼성생명   32830   32830.0      0.527950        0.403727
19      한국전력   15760   15760.0      0.633803        0.591549
20    아모레퍼시픽   90430       NaN           NaN             NaN
21      삼성전기    9150       NaN           NaN             NaN
22    하나금융지주   86790       NaN           NaN             NaN
23     롯데케미칼   11170       NaN           NaN             NaN
24     한온시스템   18880       NaN           NaN             NaN
25      삼성화재     810       NaN           NaN             NaN
26   LG디스플레이   34220       NaN           NaN             NaN
27      고려아연   10130       NaN           NaN             NaN
28      금호석유   11780   11780.0      0.621951        0.585366
29    현대글로비스   86280   86280.0      0.541667        0.666667

In [22]:
score_com = score_com.dropna().reset_index(drop=True)

In [26]:
os.getcwd()

'C:\\Users\\pcsea\\work1\\Self_study\\Company_news_PJ\\KOSPI200_NEWS'

In [25]:
score_com.to_csv('accscore_로지,랜포.csv', encoding='cp949')

In [24]:
score_com.mean()

code              45567.230769
codeno            45567.230769
logistic_acc          0.559609
randomFore_acc        0.536472
dtype: float64

In [6]:
# 잘 들어갔는지 확인
score_com[100:]

     company    code    codeno  logistic_acc  randomFore_acc
100    코오롱인더  120110  120110.0      0.760000        0.640000
101     부광약품    3000    3000.0      0.647059        0.647059
102     대웅제약   69620   69620.0      0.529412        0.682353
103   롯데정밀화학    4000    4000.0      0.774194        0.709677
104   SK네트웍스    1740    1740.0      0.552941        0.694118
105     한국콜마  161890  161890.0      0.714286        0.653061
106    한전KPS   51600   51600.0      0.488372        0.511628
107   동원시스템즈   14820   14820.0      0.642857        0.500000
108     코스맥스  192820  192820.0      0.548780        0.573171
109  한올바이오파마    9420    9420.0      0.777778        0.814815
110      이노션  214320  214320.0      0.553571        0.553571
111     영진약품    3520    3520.0      0.823529        0.823529
112     보령제약    3850    3850.0      0.387097        0.387097
113     세방전지    4490    4490.0      1.000000        1.000000
114    금호타이어   73240   73240.0      0.529032        0.580645
115     동국제강    1230    1230.0      0.524590        0.540984
116     LG상사    1120    1120.0      0.509804        0.529412
117     롯데칠성    5300    5300.0      0.517241        0.586207
118       영풍     670     670.0      0.351351        0.405405
119      GKL  114090  114090.0      0.636364        0.575758
120     태광산업    3240    3240.0      0.461538        0.461538
121   현대그린푸드    5440    5440.0      0.375000        0.500000
122      휴켐스   69260   69260.0      0.600000        0.533333
123       한섬   20000   20000.0      0.393939        0.424242
124    현대홈쇼핑   57050   57050.0      0.491803        0.377049
125     한세실업  105630  105630.0      0.600000        0.714286
126       풍산  103140  103140.0      0.475000        0.500000
127   오리온홀딩스    1800    1800.0      0.600000        0.600000
128       대상    1680    1680.0      0.418440        0.478723
129   LIG넥스원   79550   79550.0      0.615385        0.446154
130     한전기술   52690   52690.0      0.466667        0.533333
131       두산     150     150.0      0.477742        0.512486
132      락앤락  115390  115390.0      0.620000        0.500000
133    삼양홀딩스      70      70.0      0.857143        0.714286
134    동원F&B   49770   49770.0      0.650000        0.550000
135    넥센타이어    2350    2350.0      0.404762        0.547619
136   LG하우시스  108670  108670.0      0.294872        0.435897
137     일양약품    7570    7570.0      0.769231        0.653846
138   JW중외제약    1060    1060.0      0.500000        0.600000
139    SPC삼립    5610    5610.0      0.514286        0.600000
140      삼양사  145990  145990.0      0.526316        0.368421
141      빙그레    5180    5180.0      0.480000        0.340000

In [7]:
logsort = score_com.sort_values(by='logistic_acc', ascending=False)
logsort

    company    code    codeno  logistic_acc  randomFore_acc
113    세방전지    4490    4490.0      1.000000        1.000000
92     영원무역  111770  111770.0      0.863636        0.863636
133   삼양홀딩스      70      70.0      0.857143        0.714286
78    DB하이텍     990     990.0      0.828571        0.514286
111    영진약품    3520    3520.0      0.823529        0.823529
..      ...     ...       ...           ...             ...
121  현대그린푸드    5440    5440.0      0.375000        0.500000
52     한미약품  128940  128940.0      0.370370        0.419753
118      영풍     670     670.0      0.351351        0.405405
93   현대엘리베이   17800   17800.0      0.320000        0.320000
136  LG하우시스  108670  108670.0      0.294872        0.435897

[142 rows x 5 columns]

In [10]:
logsort['logistic_acc'].mean()

0.5647930453802817

In [11]:
logsort['logistic_acc'].median()

0.5388936904999999

In [12]:
ranfosort = score_com.sort_values(by='randomFore_acc', ascending=False)
ranfosort

     company    code    codeno  logistic_acc  randomFore_acc
113     세방전지    4490    4490.0      1.000000        1.000000
92      영원무역  111770  111770.0      0.863636        0.863636
111     영진약품    3520    3520.0      0.823529        0.823529
109  한올바이오파마    9420    9420.0      0.777778        0.814815
26     한온시스템   18880   18880.0      0.764706        0.794118
..       ...     ...       ...           ...             ...
140      삼양사  145990  145990.0      0.526316        0.368421
90   두산인프라코어   42670   42670.0      0.376623        0.363636
60      쌍용양회    3410    3410.0      0.697674        0.348837
141      빙그레    5180    5180.0      0.480000        0.340000
93    현대엘리베이   17800   17800.0      0.320000        0.320000

[142 rows x 5 columns]

In [16]:
ranfosort.mean()['logistic_acc']

0.5647930453802817

In [14]:
ranfosort.mean()

code              46581.607143
codeno            46581.607143
logistic_acc          0.555833
randomFore_acc        0.541202
dtype: float64

In [15]:
ranfosort.median()

code              19750.000000
codeno            19750.000000
logistic_acc          0.538894
randomFore_acc        0.529607
dtype: float64

In [22]:
# 로지스틱 상위
nowsee[:30][['company','code','codeno','logistic_acc']]

      company    code    codeno  logistic_acc
113      세방전지    4490    4490.0      1.000000
92       영원무역  111770  111770.0      0.863636
133     삼양홀딩스      70      70.0      0.857143
78      DB하이텍     990     990.0      0.828571
111      영진약품    3520    3520.0      0.823529
37       아모레G    2790    2790.0      0.814815
69    일진머티리얼즈   20150   20150.0      0.791667
77      한솔케미칼   14680   14680.0      0.777778
109   한올바이오파마    9420    9420.0      0.777778
103    롯데정밀화학    4000    4000.0      0.774194
137      일양약품    7570    7570.0      0.769231
86       대한유화    6650    6650.0      0.766667
26      한온시스템   18880   18880.0      0.764706
85    BNK금융지주  138930  138930.0      0.761905
100     코오롱인더  120110  120110.0      0.760000
73        OCI   10060   10060.0      0.742424
53        팬오션   28670   28670.0      0.733333
105      한국콜마  161890  161890.0      0.714286
84       현대위아   11210   11210.0      0.711864
5    삼성바이오로직스  207940  207940.0      0.707143
60       쌍용양회    3410    3410.0      0.697674
63      SK케미칼  285130  285130.0      0.697368
64     DB손해보험    5830    5830.0      0.685714
34       현대제철    4020    4020.0      0.685039
47        SKC   11790   11790.0      0.679104
7       삼성SDI    6400    6400.0      0.674847
46       유한양행     100     100.0      0.673077
54     한국항공우주   47810   47810.0      0.657143
134     동원F&B   49770   49770.0      0.650000
101      부광약품    3000    3000.0      0.647059

In [24]:
# 로지스틱 하위
nowsee[['company','code','codeno','logistic_acc']][-30:]

     company    code    codeno  logistic_acc
126       풍산  103140  103140.0      0.475000
50      삼성카드   29780   29780.0      0.473684
83      현대로템   64350   64350.0      0.472441
2      NAVER   35420   35420.0      0.470729
130     한전기술   52690   52690.0      0.466667
94       KCC   21320   21320.0      0.466667
16     엔씨소프트   36570   36570.0      0.463087
120     태광산업    3240    3240.0      0.461538
97        농심    4370    4370.0      0.460177
6        카카오   35720   35720.0      0.457061
39     LG이노텍   11070   11070.0      0.450820
25     롯데케미칼   11170   11170.0      0.450000
58      롯데지주    4990    4990.0      0.448276
68    한국가스공사   36460   36460.0      0.447368
19      삼성생명   32830   32830.0      0.443709
13      삼성물산   28260   28260.0      0.437186
15     SK텔레콤   17670   17670.0      0.434944
27      삼성화재     810     810.0      0.429577
33    CJ제일제당   97950   97950.0      0.429412
128       대상    1680    1680.0      0.418440
135    넥센타이어    2350    2350.0      0.404762
123       한섬   20000   20000.0      0.393939
81    현대미포조선   10620   10620.0      0.392157
112     보령제약    3850    3850.0      0.387097
90   두산인프라코어   42670   42670.0      0.376623
121   현대그린푸드    5440    5440.0      0.375000
52      한미약품  128940  128940.0      0.370370
118       영풍     670     670.0      0.351351
93    현대엘리베이   17800   17800.0      0.320000
136   LG하우시스  108670  108670.0      0.294872

In [31]:
# 랜포 하위
nowsee2[['company','code','codeno','randomFore_acc']][-50:]

     company    code    codeno  randomFore_acc
107   동원시스템즈   14820   14820.0        0.500000
25     롯데케미칼   11170   11170.0        0.500000
121   현대그린푸드    5440    5440.0        0.500000
132      락앤락  115390  115390.0        0.500000
88      현대해상    1450    1450.0        0.500000
91     현대백화점   69960   69960.0        0.500000
126       풍산  103140  103140.0        0.500000
32      기업은행   24110   24110.0        0.494764
39     LG이노텍   11070   11070.0        0.491803
22    아모레퍼시픽   90430   90430.0        0.490909
18      신한지주   55550   55550.0        0.490909
97        농심    4370    4370.0        0.486726
4        현대차    5380    5380.0        0.486690
14      KB금융  105560  105560.0        0.486381
40       이마트  139480  139480.0        0.486081
8        기아차     270     270.0        0.484848
12    LG생활건강   51900   51900.0        0.483871
1     SK하이닉스     660     660.0        0.483360
45     두산중공업   34020   34020.0        0.483146
76     하이트진로      80      80.0        0.481928
29      고려아연   10130   10130.0        0.481481
94       KCC   21320   21320.0        0.481481
128       대상    1680    1680.0        0.478723
15     SK텔레콤   17670   17670.0        0.475836
28   LG디스플레이   34220   34220.0        0.475309
68    한국가스공사   36460   36460.0        0.473684
79        한샘    9240    9240.0        0.472441
81    현대미포조선   10620   10620.0        0.470588
75      한화생명   88350   88350.0        0.470085
20      한국전력   15760   15760.0        0.464646
120     태광산업    3240    3240.0        0.461538
95        효성    4800    4800.0        0.460714
129   LIG넥스원   79550   79550.0        0.446154
6        카카오   35720   35720.0        0.445611
48     삼성중공업   10140   10140.0        0.439560
136   LG하우시스  108670  108670.0        0.435897
27      삼성화재     810     810.0        0.429577
123       한섬   20000   20000.0        0.424242
24    하나금융지주   86790   86790.0        0.421053
52      한미약품  128940  128940.0        0.419753
33    CJ제일제당   97950   97950.0        0.405882
118       영풍     670     670.0        0.405405
80      제일기획   30000   30000.0        0.403226
112     보령제약    3850    3850.0        0.387097
124    현대홈쇼핑   57050   57050.0        0.377049
140      삼양사  145990  145990.0        0.368421
90   두산인프라코어   42670   42670.0        0.363636
60      쌍용양회    3410    3410.0        0.348837
141      빙그레    5180    5180.0        0.340000
93    현대엘리베이   17800   17800.0        0.320000

In [29]:
# 랜포 상위
nowsee2[['company','code','codeno','randomFore_acc']][:30]

      company    code    codeno  randomFore_acc
113      세방전지    4490    4490.0        1.000000
92       영원무역  111770  111770.0        0.863636
111      영진약품    3520    3520.0        0.823529
109   한올바이오파마    9420    9420.0        0.814815
26      한온시스템   18880   18880.0        0.794118
37       아모레G    2790    2790.0        0.777778
53        팬오션   28670   28670.0        0.766667
99     아이에스동서   10780   10780.0        0.758621
34       현대제철    4020    4020.0        0.755906
86       대한유화    6650    6650.0        0.733333
64     DB손해보험    5830    5830.0        0.714286
133     삼양홀딩스      70      70.0        0.714286
125      한세실업  105630  105630.0        0.714286
103    롯데정밀화학    4000    4000.0        0.709677
77      한솔케미칼   14680   14680.0        0.703704
73        OCI   10060   10060.0        0.696970
104    SK네트웍스    1740    1740.0        0.694118
102      대웅제약   69620   69620.0        0.682353
69    일진머티리얼즈   20150   20150.0        0.666667
5    삼성바이오로직스  207940  207940.0        0.664286
137      일양약품    7570    7570.0        0.653846
105      한국콜마  161890  161890.0        0.653061
101      부광약품    3000    3000.0        0.647059
70     BGF리테일  282330  282330.0        0.644444
7       삼성SDI    6400    6400.0        0.644172
100     코오롱인더  120110  120110.0        0.640000
58       롯데지주    4990    4990.0        0.637931
51     CJ대한통운     120     120.0        0.622642
31     현대글로비스   86280   86280.0        0.622642
49     한미사이언스    8930    8930.0        0.615385